
@{
    ViewBag.Title = "Index";
}

<h2>Johannesburg Stock Indices</h2>
<p id="indicator"></p>
<table id="example" class="display" style="width:100%">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>RP (R)</th>
            <th>Move (R)</th>
            <th>%Move</th>
        </tr>
    </thead>
    <tbody id="myTable">
    </tbody>
    <tfoot>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>RP (R)</th>
            <th>Move (R)</th>
            <th>%Move</th>
        </tr>
    </tfoot>
</table>



